<!DOCTYPE html>
<html ng-app="exam">

<head>
	<meta charset="utf-8">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js">

	</script>
	<script type="text/javascript" src="app.js">

	</script>
	<link rel="stylesheet" href="styles.css">
	<title>Exam</title>
</head>

<body>
	<header>
		<h1>Exam</h1>
	</header>
	<main>
		<div class='ng-app' ng-controller='toBuyController as toBuyCntr'>
			
      <h2>List of toys</h2>

			<div class='message' ng-if="toBuyCntr.toBuyItems.length == 0">
				there no items in list
			</div>

			<div class='itm-lst'>
				<ol type="1">					
          <div class="itm-elem">
						<div ng-repeat="item in toBuyCntr.toBuyItems">
							<div ng-hide="toBuyCntr.toBuyItems[$index].condition==false">
								<li>Наявно {{item.amount}} іграшок {{item.mark}}</li>
							</div>
						</div>
					</div>

					<div class="itm-elem">
						<div ng-repeat="item in toBuyCntr.toBuyItems">
							<div ng-hide="toBuyCntr.toBuyItems[$index].condition==false">
								<button ng-click="toBuyCntr.hideToBought($index)">Hide</button>
              </div>  
            </div>
          </div>

          <div class="itm-elem">
            <div ng-repeat="item in toBuyCntr.toBuyItems">
              <div ng-hide="toBuyCntr.toBuyItems[$index].condition==false">
                <button ng-click="toBuyCntr.addToBought($index)">Delete</button>
              </div>  
            </div>
          </div>
        </ol>
      </div>
    </div>
  </main>
</body>

</html>
