body{
  margin:0;
  padding:0;	
}

h1{
  text-align: center;
}

h2{
  text-align: center;
}

.message{
  text-align: center;
}
.itm-lst{
  width: max-content;
  margin-left: 30%;
	float:left;
}

.itm-elem{
  margin-left: 10px;
  width:max-content;
	float: left;
}

.itm-elem div{
  height: 50px;
}

